[alias]
	co = checkout
	br = branch
	pr = pull --rebase
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
[core]
	editor = vim
[color]
	ui = auto
[user]
	name = Samuel Phan
	email = 1516171+samuel-phan@users.noreply.github.com
	signingkey = 51732E6C8DE07059!
[push]
	default = simple
	autoSetupRemote = true
[pager]
	branch = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
